/* style.css */

ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}

#myMenu {
   margin: 35px auto; 
   /* border: 1px solid teal;  */
   width: fit-content;
   
}

a {
    padding: 16px;
    
    text-decoration: none;
    margin: 2px;
    border-radius: 15px;
    transition: .3s;
}

